.card-img-top{
    height: 350px;  /* limita a altura,o tamanho do card na altura */
    object-fit: cover; /* COVER corta a imagem na forma do card, tem o container, ele ajusta a imagem ao tamho do card */
}
.map{
    height: 400px;
    width: 100%;
    border-radius: 8px
}